<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="true" packages="thewall.engine.twilight.debugger">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  pattern="%highlight{[%d{HH:mm:ss}] %t/%-5level] - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, DEBUG=blue bold}"/>
            <!--
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t /%-5level] - %msg%n" />

            <PatternLayout pattern="[%d{HH:mm:ss}] [%t /%-5level] %logger{36} - %msg%n" />
            -->
        </Console>
        <RollingFile name="RollingFile"
                     filePattern="logs/%d{yyyy-MM-dd}/%d{HH.mm.ss}-thewall-%i.log" immediateFlush="true">
            <PatternLayout pattern="[%c] [%d{HH:mm:ss}] %t/%-5level] - %msg%n"/>
            <Policies>
               <TimeBasedTriggeringPolicy interval="86400"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
        <!--
        <File name="MyFile" fileName="%d{yyy.MM.dd_HH:mm:ss.SSS}.log" append="false">
                <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

        </File>
        -->
        <TEngineDebugConsoleAppender name="TEngineLoggerAppender"/>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <!-- <AppenderRef ref="RollingFile"/> -->
            <AppenderRef ref="TEngineLoggerAppender" />
        </Root>
    </Loggers>


</Configuration>
